$button-color: #e1e4e2;
$size-of-shadow: 35vmin;

@mixin buttonStyle {
  background-color: $button-color;
  border-radius: 10px;
  border: 3px outset white;
  font-weight: 600;
}

@mixin removeUlUserAgent {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

@mixin previewShadow {
  position: sticky;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  box-shadow: inset 37px -200px 47px -140px white;

  pointer-events: none;

  height: $size-of-shadow;
}

@mixin noPreviewShadow {
  position: sticky;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  pointer-events: none;

  height: $size-of-shadow;
}

@mixin contentBar($color) {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background-color: $color;
  width: 100%;
  padding: 0.5rem 0;
}
