.reddit-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 33vh;
  width: 100%;

  box-shadow: inset 0px -40px 40px 0px #cfcbbd;
  pointer-events: none;
}

.reddit {
  height: 33vh;
  overflow: scroll;
}

.reddit-more {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.reddit-upvotes {
  margin: 1rem 0;
}

.reddit-posts {
  box-sizing: border-box;
  border: rgb(202, 202, 185) 3px solid;
  margin: 0;
  background-color: #f5f0df;
  list-style-type: none;
  padding: 0 0.5rem;
  height: auto;
}

.reddit-img-and-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reddit-img-and-subreddit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reddit-link-img {
  & > img {
    width: 7rem;
  }
}

.reddit-link-title {
  text-decoration: none;
  & > p {
    padding: 0 1rem;
  }
}
