.search {
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "prompt tag1 tag3 tag3"
    ". tag2 tag4 tag5";

  & > span {
    grid-area: prompt;
  }

  @for $i from 1 to 7 {
    button:nth-child(#{$i}) {
      grid-area: tag#{$i - 1};
    }
  }
}

.search-form-input {
  width: 100%;
  display: flex;
  justify-content: space-around;
  & > input {
    width: 75%;
    margin-bottom: 1rem;
  }
  & > svg {
    align-self: center;
    margin-bottom: 1rem;
  }
}

.search-options > button {
  @include buttonStyle;
}

.selected {
  background-color: #747474 !important;
  border: 1px outset #808080 !important;
  border-radius: 10px;
}
