.search {
  width: 100%;
  background-color: orange;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-options {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.search-options > button {
  background-color: "#ff55ff";
  border: 3px outset white;
}

.selected {
  background-color: blue;
  border: 3px outset white;
}
