.youtube {
  flex: 1;
  overflow: scroll;
  position: relative;
}

.youtube-posts {
  list-style-type: none;
  padding: 0 0.5rem;
  position: relative;

  margin-bottom: -($size-of-shadow - ($size-of-shadow / 100 * 30));
}

.youtube-link-img {
  grid-area: image;
  & > img {
    width: 112px;
  }
}

.youtube-shadow {
  @include previewShadow;
}

.youtube-more {
  height: 2rem;
  margin-bottom: 1rem;
  @include buttonStyle;
  pointer-events: all;
}

.youtube-title {
  grid-area: title;
}

.youtube-post {
  display: grid;
  grid-template-columns: 112px auto;
  grid-template-rows: auto;

  column-gap: 0.5rem;

  grid-template-areas:
    "image title"
    "image uploader"
    "image date"
    "image duration";
}
